/*font-family: 'Concert One', cursive;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Warnes', sans-serif*/

@font-face {
    font-family: ostrichBold;
    src: url('ostrich-bold-webfont.woff') format('woff');
}

/*All Site*/
* {
    color: #333;
}

/*Landing Page*/
.LPcontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
}

/*General Link styling*/
a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #333 !important;
}

/*Menu Styling*/
/*All menu elements*/
.menuTopSection, .menuAboutLink, .menuLinksToGalleries {
    text-align: center;
    letter-spacing: 2px;
}

/*Whole menu container*/
/*TODO - sort out on makeing the screen shorter the menu bar will stay full height and text do scrollable*/
.menu-col {
    -webkit-box-shadow: 0px 2px 20px #000000;
    -moz-box-shadow: 0px 2px 20px #000000;
    box-shadow: 0px 2px 20px #000000;
    height: 100%;
}

.menuContainer {
    margin-top: 50px;
}

/*Top Section*/
.menuLinkHome {
    font-size: 30px;
}

.phoneNumber {
    font-style: italic;
    font-size: 16px;
}

.email {
    font-size: 14px;
}

/*Social Icons*/
.fa-facebook-official:hover {
    color: #3b5998 !important;
}

.fa-instagram:hover {
    color: #cd486b !important;
}

/*About Link*/
.menuAboutLink {
    margin-top: 15px;
}

.aboutLink {
    font-size: 26px;
}

/*Gallery Links*/
.menuLinksToGalleries {
    margin-top: 15px;
}

.menuLinksToGalleries label {
    font-size: 25px;
}

.menuLinksToGalleries a {
    font-size: 18px;
}

.credit {
    font-size: x-small;
    position: absolute;
    bottom: 0;
}

/*Home Page Styling*/
.homeImage {
    margin-top: 50px;
    margin-left: 45px;
    /*height: 75%;*/
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*About Page*/
.aboutPageContainer {
    margin-top: 50px;
    margin-left: 45px;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.aboutPageContainer p {
    padding: 5px 0 5px 0;
}

.aboutImage {
    height: 33%;
}

.aboutText {
    width: 80%;
}

/*Collage*/
/*Beside the Sea*/
.besideTheSeaContainer, .natGeoContainer, .robotsContainer, .beautifulForBedtimeContainer, .iCanWriteContainer {
    margin-top: 220px;
    margin-left: 45px;
    letter-spacing: 1.5px;
    font-size: 16px;
    float: left;
}

.besideTheSeaContainer p, .natGeoContainer p, .robotsContainer p, .beautifulForBedtimeContainer p, .iCanWriteContainer p {
    padding: 5px 0 5px 0;
}

.besideTheSeaText, .natGeoText, .robotsText, .beautifulForBedtimeText, .iCanWriteText {
    width: 520px;
    display: inline-block;
}

.besideTheSeaImages {
    margin-top: 30px !important;
    margin-left: 100px;
    padding: 50px 50px 50px 50px;
    width: 220%;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.besideTheSeaSingleImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*Nat Geo*/
.natGeoImages {
    margin-top: 30px !important;
    margin-left: 100px;
    padding: 50px 50px 50px 50px;
    width: 600%;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.natGeoSingleImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*Robots*/
.robotsImages {
    margin-top: 30px !important;
    margin-left: 100px;
    padding: 50px 50px 50px 50px;
    width: 350%;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.robotsSingleImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*beautifulForBedtime*/
.beautifulForBedtimeImages {
    margin-top: 30px !important;
    margin-left: 100px;
    padding: 50px 50px 50px 50px;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.beautifulForBedtimeImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*I Can Write*/
.iCanWriteImages {
    margin-top: 50px !important;
    margin-left: 100px;
    padding: 50px 50px 50px 50px;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.iCanWriteImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*Photography*/
/*Australia*/
.australiaImages {
    margin-top: 30px !important;
    margin-left: 50px;
    padding: 50px 50px 50px 50px;
    width: 450%;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.australiaImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*Antigua*/
.antiguaImages {
    margin-top: 30px !important;
    margin-left: 50px;
    padding: 50px 50px 50px 50px;
    width: 350%;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.antiguaImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*Abstracts*/
.abstractsImages {
    margin-top: 30px !important;
    margin-left: 50px;
    padding: 50px 50px 50px 50px;
    width: 400%;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.abstractsImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}

/*Beach Hut*/
.beachHutsImages {
    margin-top: 30px !important;
    margin-left: 50px;
    padding: 50px 50px 50px 50px;
    width: 300%;
    overflow: auto;
    height: inherit;
    display: inline-block;
    position: absolute;
}

.beachHutsImage {
    float: left;
    height: 75%;
    margin-right: 50px;
    -webkit-box-shadow: 3px 3px 12px #808080;
    -moz-box-shadow: 3px 3px 12px #808080;
    box-shadow: 3px 3px 12px #808080;
    background-color: #808080;
}